configuration {
	modi: "window,run,drun,combi";
	combi-modi: "window,run";
	font: "DejaVu Sans Mono Medium 10";
	show-icons: false;
	drun-display-format: "{icon} {name}";
	display-window: "w";
	display-run: "$";
	display-drun: "_";
	display-combi: "exe";
	cycle: false;
}

@theme "~/.config/rofi/themes/seoul256.rasi"
