configuration {
	modi: "window,run,drun";
	font: "DejaVu Sans Mono Medium 10";
	show-icons: false;
	drun-display-format: "{icon} {name}";
	display-window: "  ";
	display-run: "> ";
	display-drun: "  ";
	cycle: false;
}

@theme "~/.config/rofi/themes/seoul256.rasi"
