@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/roboto-mono-medium.ttf");
}

:root {
    --font: "Roboto Mono";
    --background: #101010;
    --foreground: #f4eee4;
    --green: #5faf5f;
    --blue: #5f87ff;
}

html {
    font-size: 18px;
}

body {
    background: var(--background);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prompt {
    font-family: var(--font);
    color: var(--foreground);
}

.prompt~.prompt {
    padding: 1.5rem 0 0.3125rem;
}

green {
    color: var(--green);
}

blue {
  color: var(--blue)
}
